@model List<ToDoTask>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Tasks ToDo</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="ToDoTask" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg>  Create new Task
            </a>
        </div>
    </div>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped" style="background-color: white;">
    @if (!Model.Any())
    {
        <p>No tasks yet. Add one!</p>
    }
    else
    {
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Task
            </th>
            <th>
                Status
            </th>
            <th>
                ~
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var obj in Model)
        {
            <tr>
                <td>@counter.</td>
                @{
                    counter++;
                }
                @if (@obj.IsDone)
                {
                    <td style="color: gainsboro;">
                        <s>@obj.Name</s>
                    </td>
                    <td>
                        <input type="checkbox"
                               id="taskCheckbox-@obj.Id"
                               onchange="toggleTask(@obj.Id)"
                        @(obj.IsDone ? "checked" : "") />

                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                        </svg>
                    </td>

                }
                else
                {
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        <input type="checkbox"
                               id="taskCheckbox-@obj.Id"
                               onchange="toggleTask(@obj.Id)"
                        @(obj.IsDone ? "checked" : "") />

                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </td>
                }
                
                <td style="width: 210px;">
                        <a asp-controller="ToDoTask" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg> Edit
                        </a>
                        <a asp-controller="ToDoTask" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg> Delete
                        </a>
                </td>
            </tr>
        }
    </tbody>
    }
</table>
</div>
<script>
    function toggleTask(id) {
        fetch(`/ToDoTask/Ex`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(id)
        })
        .then(response => {
            if (response.ok) {
                console.log("Task toggled.");
                location.reload(); // Refresh to reflect changes
            } else {
                console.error("Failed to toggle task.");
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>
